<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Twutor</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center bg-white">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">Twutor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/profile">Edit Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
              </li>
          </ul>
      </div>
  </nav>
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="px-3">
            <h1 class="cover-heading">Welcome {{user.firstName}}</h1>
            <p class="lead">Connect with others and build your network today!</p>
            <p class="lead">
                <a href="/profile" class="btn btn-lg btn-primary">Edit Profile</a>
                <a href="/connect" class="btn btn-lg btn-primary">Connect</a>
            </p>
        </main>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
<style>
    body, html {
        max-height: 100vh;
        overflow: hidden;
    }
</style>